.wd-container-userslist {
    height:auto;
    width:auto;
    background: linear-gradient(
        rgba(44, 233, 10, 0.8),
        rgba(255, 255, 255, 0.6)
    );
}

.wd-userlist {
    display: flex;
    justify-content: center;
}

.wd-userheading {
    display: flex;
    color:limegreen;
}

.wd-userheadingtext {
    color: rgb(21, 119, 10);
    font-size: 48px;
}

.wd-text-creators{
    color: white;
}

.wd-userheadingcol {
    display: flex;
    justify-content: space-around;
}

.wd-userlist .list-group {
    background-color: none;
}

.wd-userlist .list-group-item {
    display: flex;
    align-items: center;
    border: 2px solid green;
    margin-bottom:px;
    
}

.wd-userlist .list-group-item .wd-text-REGULAR a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: limegreen;
}

.wd-userlist .list-group-item .wd-text-ADMIN a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: limegreen;
}

.wd-userlist .list-group-item .wd-text-PRO a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: limegreen;
}

.wd-userlist .list-group-item .wd-text-REGULAR a:hover {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.wd-userlist .list-group-item .wd-text-ADMIN a:hover {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.wd-userlist .list-group-item .wd-text-PRO a:hover {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

.wd-usertype-text-ADMIN {
    display: flex;
    justify-content: space-between;
    color: rgb(242, 1, 126);
}

.wd-usertype-text-REGULAR {
    display: flex;
    justify-content: space-between;
    color: rgb(16, 119, 245);
}

.wd-usertype-text-PRO {
    display: flex;
    justify-content: space-between;
    color: orange;
}